

body{
    
    background-image: url(../imagenes/odontologia-2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   
    background-attachment: fixed;
    background-position: center;
  
}

.menu__container h6{
    position:absolute;
    left:89px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color:black;

}
.menu__container h3{
    padding-top: 14px;
    position:absolute;
    font-size: medium;
    left:91px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
 }

/*footer*/


.footer{
  position: absolute;
    bottom: 0;
    left: 0;
    height: 19%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #121212;
    
}
.footer h6{
    margin-top: 7%;
    position: absolute;
    margin-left: 5%;
    font-size: larger  ;
    background-color: #121212;
}
.footer .marc{
    background-color: #121212;
    position: absolute;
    height: auto;
    right: 25%;
}
@media (max-width:800px){

    

    .menu__container h6{
        margin-left: -16%;
    }

    .menu__container h3{
        margin-top: 1%;
        margin-left: -16%;
    }

   .footer{
    position: relative;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 110%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
   }

    .footer .marc{
        position:absolute;
        width: 100%;
       position: static;
       margin-top: 3%;
        
    }

    .footer h6{
        position: static;
        font-size: small;
       position: relative;
       margin-top: -1%;
        margin-left: 5%;
        
    }
    }
