@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
    margin: 0;
    width: 100%;
   background-image: url(../imagenes/ba1.jpg);
   background-repeat: no-repeat;
   background-size: 1370px;
}
h1{
    text-align: center;
    padding: 8%;
    position: absolute;
    left:50%;
    font-family: 'Dancing Script', cursive;
    color:black;
    
}
.logo4{
    margin-top:11%;
    width: 220px;
    height: 150px;
    position: absolute;
     right: 70%;
}

.menu__container h6{
    position:absolute;
    color:#fff;
    left:88px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color:black;

}
.menu__container h3{
    padding-top: 15px;
    position:absolute;
    font-size: medium;
    left:88px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
 }
 .menu__container  .logo7{
    width: 40px;
    height: 40px;
    right:93px;
    display: flex;
    position: absolute;
  }

.menu__container h5{
    padding-top: 49px;
    position: absolute;
    right: 93px;
    color: black;
}

.texto h4{
    color:black;
    margin-top: 15%;
    position:absolute;
    text-align: center;
    padding-left: 38%;
    padding-right: 9%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
