/*telefono*/
:root {
    --dark-cyan: hsl(185, 46%, 70%);
    --very-dark: hsl(229, 23%, 23%);
    --dark-gray: hsl(227, 10%, 46%);
    --light-gray:  hsl(227, 10%, 90%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10 px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url(../imagenes/cliente.png);
    background-repeat: no-repeat, no-repeat;
    background-size:50%;
    background-position: right;
   
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: -15%;
}

.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    max-width: 320px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);}

    .card-header{
       
        height: 100px;
        display: block;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--light-gray);
    }

        .card-body-img {
            width:40%;
            border: 5px solid white;
            background-color: white;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
        }

        .card-body-title {
            margin: 0;
            margin-top: 2rem;
            color: var(--very-dark);
            font-size: 1.8rem;

            
        }

        .card-body-text {
            font-size: 1.7rem;
            color: black;
            margin-bottom: 2rem;
        }

    

    .card-footer {
        display: flex;
        justify-content: space-evenly;
    }

        .card-footer-social {
            text-align: center;
        }
            h3{
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                font-size: 2rem;
                color: var(--very-dark);
            }

            p {
                margin-top: 0;
                margin-bottom: 2rem;
                letter-spacing: 1px;
                color: black;
                font-weight: 700;
                font-size: 1.2rem;
            }
    
            /*DETALLLES*/
    .ad{
        height: 50%;
    }

    .cuerpo{
        width: 90%;
    /* background-color: rgb(43, 224, 43);*/
        height: 61vh;
    }
    .oficina{
    width: 55%;
    height:61vh;
   /*background-color: black;*/
   justify-content: center;
    }
    .extra{
       /* background-color: blueviolet;*/
        width: 45%;
        height: 61vh;
    }




    @media screen and (max-width: 980px) {
        .oficina{
            display: flex; 
            flex-direction: column;
        }
    }