@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(../imagenes/ba1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}
.menu{
    background-color:transparent;
    position: relative;
     font-size: larger;
     color:black;
     height: 70px;
 }

 .menu__container .logo{
     width: 350px;
     display: block;
     border: none;
    line-height: 0;
    padding-top: 27%;
     height: 250px;
 }
 
 .menu__container .logo2{
     width:120px;
     height: 38px;
 }
.scroll-bar{
    height:300px;
    width: 318px;
   
    border:1px solid grey;
    overflow-y:auto;
 }

 .menu__container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     max-width: 1200px;
     height: 100%;
     margin: 0 auto;
 }
 
 .menu__links{
     height: 50%;
     transition: transform .5s;
     display: flex;
 }
 
 .menu__item{
     list-style: none;
     position: relative;
     height: 100%;
     --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
     --transform: rotate(-90deg);
 }
 
 .menu__item:hover{
     --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     --transform: rotate(0);
 }
 
 .menu__link{
     color:black;
     text-decoration: none;
     padding: 0 30px;
     display: flex;
     height: 100%;
     align-items: center;
 }
 
 /*.menu__link:hover{
     background-color: rgb(0, 0, 0);
 }*/
 
 
 .menu__arrow{
     transform: var(--transform);
     transition: transform .3s;
     display: block;
     margin-left: 3px;
     height: 35px;
 }
 
 .menu__nesting{
     list-style: none;
     transition:clip-path .3s;
     clip-path: var(--clip);
     position: absolute;
     right: 0;
     bottom: 0;
     width: max-content;
     transform: translateY(100%);
     background-color: #fff;
    overflow: auto;
 }
 
 .menu__link--inside{
     padding: 30px 100px 30px 20px;
 }
 
 .menu__link--inside:hover{
     background-color: #358425b7;
 }
 
 .menu__hamburguer{
     height: 100%;
     display: flex;
     align-items: center;
     padding: 0 15px;
     cursor: pointer;
     display: none;
 }
 
 .menu__img{
     display: block;
     width: 36px;
 }

h1{
    text-align: center;
    padding: 8%;
    position: absolute;
    left:50%;
    font-family: 'Dancing Script', cursive;
    color:black;
    
}
.logo4{
    margin-top:11%;
    width: 220px;
    height: 150px;
    position: absolute;
     right: 70%;
}

.menu__container h6{
    position:absolute;
    color:#fff;
    left:88px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color:black;

}
.menu__container h3{
    padding-top: 15px;
    position:absolute;
    font-size: medium;
    left:88px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
 }
 .menu__container  .logo7{
    width: 40px;
    height: 40px;
    right:93px;
    display: flex;
    position: absolute;
  }

.menu__container h5{
    padding-top: 49px;
    position: absolute;
    right: 93px;
    color: black;
}

.texto h4{
    color:black;
    margin-top: 15%;
    position:absolute;
    text-align: center;
    padding-left: 38%;
    padding-right: 9%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*pagina mas.html*/

.titulo{
    position: absolute;
    left:50%;
}

.lista{
    position: absolute;
    text-align: center;
    margin-top: 16%;
    margin-left: 46%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding-bottom: 3%;
}

.h{
    position: absolute;
    margin-top: 16%;
    width: 17%;
    height: 17%;
    left: 80%
}
.h1{
    position: absolute;
    margin-top: 17%;
    width: 5%;
    height: 25%;
    left: 20%
}
.h2{
    position: absolute;
    margin-top: 33%;
    width: 5%;
    height: 25%;
    left:28%
}
.h3{
    position: absolute;
    width:15%;
    height: 25%;
    margin-top:17% ;
    left: 20%
}
.h4{
    position: absolute;
    margin-top: 32%;
    width: 12%;
    height: 25%;
    left: 75%
}
.h5{
    position: absolute;
    margin-top: 7%;
    width: 19%;
    height: 19%;
    left: 45%
}
/*NO TOCAR COD TOP*/

@media (max-width: 667px){

    .menu__container .logo{
      width: 60%;
      height: 10%;
       display: block;
       border: none;
      line-height: 0;
   }

   .menu__container h6 {
    font-size: 60%;
    margin-top: 0%;
    position: absolute;
    margin-left: -27%;
  }

  .menu__container h3{
    font-size: 60%;
    margin-top: 0%;
    position: absolute;
    margin-left: -27%;
  }

  .menu__container  .logo7{
    position: absolute;
    left: 80%;
  }

  .menu__container h5{
    position: absolute;
    left:80.5%;
  }
  .texto h4{
    position: absolute;
    margin-top: 60%;
    margin-left: -30%;
  }


  h1{
    position: absolute;
    margin-top: 20%;
    margin-left: -25%;
  }

  .logo4{
    width: 30%;
    height: 10%;
    margin-top: 30%;
    left: 8%;
    position: absolute;
  }
}

