@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
    margin: 0;
    width: 100%;
   background-image: url(../imagenes/f10.png);
}
h1{
    text-align: center;
    padding: 5%;
    font-family: 'Dancing Script', cursive;
}
.logo4{
    padding-bottom: 5%;
    width: 220px;
    height: 220px;
    
    position: absolute;
   left: 70%;
    
   
}
h4{
    padding-top: 1%;
   padding-left: 8%;
   padding-right: 5%;
   padding-top: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu__container h3{
    padding-top: 10px;
    position:absolute;
    font-size: medium;
    left:98px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
 }
 .menu__container  .logo7{
    width: 40px;
    height: 40px;
    right:93px;
    display: flex;
    position: absolute;
  }

.menu__container h5{
    padding-top: 49px;
    position: absolute;
    right: 93px;
}