body{
    background-image: url(../imagenes/bac4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#cargando {
    display: none;
}

.table th{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
}
.form-group  .h2{
    font-size: 20px;
    text-align: center;
    color: white;
  
}

/*LOGO*/
.logo{
    width: 15%;
    margin-left: 3%;
    display: block;
    border: none;
   line-height: 0;
   margin-top: 0.5%;
  
   
}
.encabezado h5{
    font-size: 21px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 3%;
    line-height: 0%;
    color: white;
}
