body{
   /* background-image: url(../imagenes/Adphone.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
   /* background-attachment: fixed;/*para que quede fijo*/
   background-color: cadetblue;
  }

  .cuerpo{
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: small;
  }