@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

body{
  
  width: 100%;
  
  background-image:url(imagenes/913664.jpg);
  background-repeat: no-repeat;
  font-family: "Times New Roman";
}
/*header*/


header{
  width: 100%;
  padding-top: -10%;
  height: 36vh;
  color: rgb(231, 225, 225);
  font-size: 200%;
  background:rgb(30, 29, 29);
 background-size: cover;
 background-position: center;
 margin-top:0px;
}

.n{
  position:absolute;
  margin-top: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding: 3px;
  transition: all 0.5s ease;
}

.n.active{
  background: #fff;
  padding: 0px;
}

.n.active .logo,
.n.active .menu ul li a{
color:#e3d8d8;
}

.n.active a:hover{
  background: rgb(230, 223, 223);
  color:#fff;
}
.n.logo{
  margin-top: 0px;
  font-size: 35px;
  color: rgb(241, 230, 230);
  font-weight: 100;
}
.menu{
  display: flex;
}

.menu li{
  list-style: none;
  margin: 0px;
}

.menu li a{
  color: #fff;
  text-decoration: none;
  font-size: 50%;
  font-weight: bold;
  
  transition: all 0.5s ease;
}

.menu li a:hover{
  padding: 0px 0px;
  background: #fff;
  color: rgb(6, 6, 6);
  border-radius: 15px;
}

.scrol{
  height: 0px;
}

/*--end--*/



  nav{
    display: flex;
    padding-left: 15%;
  justify-content:leftr;
  margin-left: auto;

  margin-top: 65px;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  /*ya esta*/
  nav ul li a{
    color: white;
    border: 0;
    display: block;
    padding: 0 25px;
    line-height: 70px;
    font-size: 20px;
    background: #1e1e1e;
    transition: .5s;
    cursor: pointer;
    justify-content:left;
    padding: 0px 10px;
  }



  nav button .icon{
    display: flex;
    font-size: 18px;
    margin-right: 10px;
  }
  nav button:hover,
  nav  button.active{
  background: #9e3c48;
}
/*ya esta*/
  nav ul li a:hover,
  nav ul li a.active{
    background:#9e3c48;
    display: flex;
    position:relative;
    
  
  }
  /*no tocar*/
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #dce6e5;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -80px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  nav button.active + ul{
    display: block;
  }

  /*footer*/
  footer{
    background:#0f0d0d;;
    padding: 10px 0 1px 0;
    margin:auto;
    height: 15%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  
  .contenedor-footers{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px  solid #ccc;
  }
  
  .content-foo{
    text-align: center;
  } 
  
  .content-foo h4{
    color: #fff;
    border-bottom: 3px solid #7c1c46;
    padding-bottom:5px ;
    margin-bottom: 1px;
  }
  
  
  
  .titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fdfdfd;
  }
  
  @media sceen and (nmax-width:900px){
    header{
        background-position: center;
    }
  
    .imagen-port{
        width: 44%;
    }
  }
            /*Responsivo*/
  @media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
  
    nav>a{
    margin-right: 5px;
    }
  
    .textos-header  h1{
        font-size: 35px;
    }
  
    .textos-header{
        font-size: 20px;
    }
  
    .imagen-port{
        width: 95%
    }
  
    .contenedor-footer{
        flex-direction: column;
        border:none;
    }
  
    .conten-foo{
        margin-bottom: 20px;
        text-align: center;
    }
  
    .conten-foo h4{
        border:none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom:20px;
    }
    .titulo-final{
        font-size:20px ;
    }
  
  }
  /*Footer*/
  