body{
    background-image: url(../imagenes/ver.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.cuerpo{
    justify-content: center;
}
.kuro{
    width: 50%;
    height: 58vh;
    background-color: rgba(0, 0, 0, 0.839);
    display: inline-block;
}

.rounded{
    width: 100%;

}
.texto{
    text-align: center;
   width: 100%;
   margin: auto;
   border: 2px /*solid #000*/;
}
.shiro{
    width: 50%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.712);
   justify-content: center;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.shiro2{
    width: 50%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.712);
    display: inline-block;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto2{
    text-align: center;
   width: 50%;
  float: left;
  
}
.columna{
    text-align: center;
   float: right;
   width: 50%;
 
}

 @media screen and (max-width: 980px) {
    .cuerpo{
        display: block;
        height: 100vh;
    }
    .kuro{
        height: 20vh;
        width: 80%;
    }
    .shiro{
        width: 80%;
    }
    .texto{
        margin-top: 7vh;
    }
    .shiro2{
        margin-top: 3vh;
        width: 90%;
       

    }
    
 }
 